$primary-color: rgb(6, 160, 6);
$secondary-color: black;
$background-color: white;
$primary-text: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial;
$direction: row;
$h1: 32px;
$h2: 24px;
$h3: 18.72px;
$h4: 16px;
$h5: 13.28px;
