@mixin text {
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial;
    font-size: 18px;

    &--sm {
        font-size: 18.72px;
    }

    &--lg {
        font-size: 24px;
    }

    &--xl {
        font-size: 32px;
    }

    &--l {
        font-size: 40px;
    }
}
