@use "colortext"; 

$primary-color: rgb(6, 160, 6);
$secondary-color: black;
$background-color: white;
$primary-text: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial;

* {
    margin: 0%;
    font-family: $primary-text;
    background-color: $background-color;
}

/* Styling the links inside the navigation bar */
.topnav {
    width: 100%;
    overflow: auto;
}

.topnav a {
    overflow: hidden;
    float: left;
    display: block;
    text-align: centre;
    font-size: 18px;
    font-family: $primary-text;
    text-decoration: none;
    width: 25%;
    margin: 0%;
    color: $secondary-color;
}

/* Change the colour of links on hover */
.topnav a:hover {
    color: $background-color;
    background-color: $primary-color;
}

/* Add a colour to the active/current link */
.topnav a.active {
    background-color: lightblue;
    color: $background-color;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

h1 {
    font-size: 40px;
}

h2 {
    color: $primary-color;
}
