@use "colortext";
@use "text";

.topnav a {
    background-color: colortext.$background-color;
    overflow: hidden;
    float: left;
    display: block;
    text-align: centre;
    font-size: 18px;
    font-family: colortext.$primary-text;
    text-decoration: none;
    width: 25%;
    margin: 0%;
    color: colortext.$secondary-color;

    &:hover {
        background-color: colortext.$primary-color;
        color: colortext.$background-color;
    }

    &--:hover.icon {
        display: none;
    }
}
body {
    font-family: colortext.$primary-text;
}

h2 {
    color: colortext.$primary-color;
    font-size: colortext.$h2;
}
