@use "colortext";
@use "media";
@use "text";

.topnav {
    width: 100%;
    overflow: auto;
    margin: 0%;
}

.topnav a {
    background-color: colortext.$background-color;
    overflow: hidden;
    float: left;
    display: block;
    text-align: centre;
    font-size: 18px;
    font-family: colortext.$primary-text;
    text-decoration: none;
    width: 25%;
    margin: 0%;
    color: colortext.$secondary-color;

    /* Change the colour of links on hover */
    &:hover {
        color: colortext.$background-color;
        background-color: colortext.$primary-color;
    }

    /* Hide the link that should open and close the topnav on small screens */
    &--:hover.icon {
        display: none;
    }
}

body {
    margin: 0%;
}

h1 {
    font-family: colortext.$primary-text;
    font-size: colortext.$h1;
}

.cradlemountain {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    row-gap: 5px;
    padding: 1rem;
    height: 12rem;
}

.cradlemountain-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 3px;
    justify-content: space-evenly;
    align-content: center;
}

// Mobile phone, $xs: 576px; // Extra small
@media (min-width: 600px) {
    .cradlemountain-container {
        grid-template-columns: 1fr;
    }
}

// Tablet landscape, $sm: 768px; // Small
@media (min-width: 768px) {
    .cradlemountain-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Laptop, $md: 992px; // Medium
@media (min-width: 900px) {
    .cradlemountain-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
