@use "colortext";
@use "text";

.topnav {
    width: 100%;
    overflow: auto;
    margin: 0%;
}

.topnav a {
    background-color: colortext.$background-color;
    overflow: hidden;
    float: left;
    display: block;
    text-align: centre;
    font-size: 18px;
    font-family: colortext.$primary-text;
    text-decoration: none;
    width: 25%;
    margin: 0%;
    color: colortext.$secondary-color;

    /* Change the colour of links on hover */
    &:hover {
        color: colortext.$background-color;
        background-color: colortext.$primary-color;
    }

    /* Hide the link that should open and close the topnav on small screens */
    &--.icon {
        display: none;
    }
}
.main-content {
    border: 2px solid colortext.$secondary-color;
    height: 800px;
    flex-direction: colortext.$direction;
    justify-content: left;
    align-items: flex-end;
    max-width: 100%;
}

.franklinriver {
    border: 2px solid colortext.$secondary-color;
    height: 400px;
    flex-direction: colortext.$direction;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    float: left;
}

* {
    margin-top: 0%;
}

h1 {
    font-family: colortext.$primary-text;
    font-size: colortext.$h1;
}

h2 {
    font-family: colortext.$primary-text;
    color: colortext.$primary-color;
}

h4 {
    font-family: colortext.$primary-text;
}

h5 {
    font-family: colortext.$primary-text;
}
