@use "colortext";

$primary-color: rgb(6, 160, 6);
$secondary-color: black;
$background-color: white;
$primary-text: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial;
$direction: row;

.topnav {
    width: 100%;
    overflow: auto;
    margin: 0%;
}

.topnav a {
    background-color: $background-color;
    overflow: hidden;
    float: left;
    display: block;
    text-align: centre;
    font-size: 18px;
    font-family: $primary-text;
    text-decoration: none;
    width: 25%;
    margin: 0%;
    color: black;
}

/* Change the colour of links on hover */
.topnav a:hover {
    color: $background-color;
    background-color: $primary-color;
}

/* Add a colour to the active/current link */
.topnav a.active {
    background-color: lightblue;
    color: $background-color;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.main-content {
    border: 2px solid $secondary-color;
    height: 800px;
    flex-direction: $direction;
    justify-content: left;
    align-items: flex-end;
    max-width: 100%;
}

.franklinriver {
    border: 2px solid $secondary-color;
    height: 400px;
    flex-direction: $direction;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    float: left;
}

* {
    margin-top: 0%;
}

h1 {
    font-family: $primary-text;
    font-size: 35px;
}

h2 {
    font-family: $primary-text;
    color: $primary-color;
}

h4 {
    font-family: $primary-text;
}

h5 {
    font-family: $primary-text;
}

/* Mobile devices, 320-480px, decrease text size */
@media only screen and (max-width: 480px) {
    .text {
        font-size: 11px;
    }
}

//* iPads, tablets, 481-768px
@media only screen and (min-width: (481px)) and (max-width: 768px) {
    .text {
        font-size: 12px;
    }

    //* Laptops, 769-1024px
    @media only screen and (min-width: (769px)) and (max-width: 1024px) {
        .text {
            font-size: 12px;
        }

        //* Desktops, 1025-1200px
        @media only screen and (min-width: (1025x)) and (max-width: 1200px) {
            .text {
                font-size: 12px;
            }
        }
    }
}
